data/*
!data/README.md
outputs/
inference_outputs
test.sh
*__pycache__/

# Weights and Biases
wandb/*

# IPython checkpoints
.ipynb_checkpoints

#VSCode workspace files
*.code-workspace
