data/*
!data/README.md
outputs/
inference_outputs
test.sh
*__pycache__/

# Custom weights folder (mainly for testing).
weights/

# Weights and Biases
wandb/*

# IPython checkpoints
.ipynb_checkpoints
